@use 'variables' as *;

@mixin set-font($size: 1em, $line-height: normal, $font: $fonts-body) {
    font-family: $font;
    font-size: $size;
    line-height: $line-height;
  }

  @mixin set-flex($direction: row, $wrap: wrap) {
    display: flex;
    flex-flow: $direction $wrap;
  }
  
  @mixin uppercase($color: $text-dark) {
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $color;
  }

  @mixin divider($color: $accent1) {
    border-top: 1px solid $color;
    margin-top: 1em;
    padding-top: 1.5em;
  }  
  

.archive
.select
.resources {
    background-color: $accent1;
}
