$fonts-headline: 'Meie Script', cursive;
$fonts-body: 'Alef', sans-serif;
$background-color: #273043;
$primary: #115A56;
$accent1: #99002C;
$accent2: #EDF0DA;
$text-dark: #273043;
$text-light: #FDFFFC;